/*
    Document   : miniProjects/MicrosoftDemo/style.css
    Created on : 2016-05-31 06:46 PM
    Author     : MatthewKwong
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}