#mainContent {
    background-color:#A2bfce;
    border-radius: 4px;
    padding: 10px;
    width: 600px;
    height:300px;
    overflow:hidden;
}
.cloud {
    position:absolute;
}



#sun{
    height:18.750em;
    width:18.750em;
    border-radius:50%;
    margin: 0 auto;
    background-color:orange;
}




#bigCloud {
    animation: bobble 2s infinite;
    margin-left: 100px;
    margin-top: 15px;
}

#bigCloud2{
    animation: bobble2 2s infinite;
    margin-left:100px;
    margin-top:15px;
}

@keyframes bobble2 {
    0% {
        transform:translate3d(90px, 60px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(90px, 90px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(90px, 60px, 0px);
    }
}



@keyframes bobble {
    0% {
        transform:translate3d(50px, 40px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(50px, 50px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(50px, 40px, 0px);
    }
}