body{
    background-color:#A2bfce;
}

#sun{
    top:20%;
    left:40%;
    position:absolute;
    height:18em;
    width:18em;
    border-radius:50%;
    margin: 0 auto;
    background-color:orange;
    animation: shine 10s infinite;
}

@keyframes shine{
    50%{
     background-color:yellow;
    height:19em;
    }
}




#bigCloud {
    animation: bobble 2s infinite;
    margin-left: 100px;
    margin-top: 15px;
}

#bigCloud2{
    animation: bobble2 2s infinite;
    margin-left:100px;
    margin-top:15px;
}

@keyframes bobble2 {
    0% {
        transform:translate3d(90px, 60px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(90px, 90px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(90px, 60px, 0px);
    }
}



@keyframes bobble {
    0% {
        transform:translate3d(50px, 40px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(50px, 50px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(50px, 40px, 0px);
    }
}