/*Page Format*/
 body {
    font-family:arial;
}
.GeniusProject {
    margin-top:1em;
    text-align:center;
}
div {
    margin-left: 10em;
    margin-right: 10em;
    font-size:15px;
}
hr {
    margin-left: 30em;
    margin-right: 30em;
    background-color: black;
    font-weight: bold;
}
.date {
    font-weight: bold;
}
a {
    color:#1CA8AE;
}
/*Nav Bar*/
 ul {
    text-align:center;
    list-style-type: none;
    margin-top: 2em;
    margin-bottom:2em;
    padding: 0;
    transition: .5s all ease;
    transition-timing-function: linear;
}
#index {
    transition: .5s all ease;
    transition-timing-function: linear;
}
#index:hover a {
    color:white;
}
button {
    background-color:white;
    font-size:1em;
    text-align:center;
    padding-left:.5em;
    padding-right:.5em;
    padding-top:1em;
    padding-bottom:1em;
    border:solid black;
    border-radius:2em;
    margin:auto;
    display: inline;
    transition: .5s all ease;
    transition-timing-function: linear;
}
button:hover {
    background-color:#1CA8AE;
}