/*
    Document   : HackClub/Phone/phone.css
    Created on : 2016-06-01 05:21 PM
    Author     : MatthewKwong
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}