    /*Navbar*/
@media screen and (max-device-width : 30px){
   }
#nav {
        font-family:trebuchet ms;
        text-align:center;
        background-color: #222;
        margin-bottom:4%;
    }

#nav_wrapper {
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position:relative;
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background-color: #333;
}
#nav ul li a, visited {
    color: #ccc;
    display:block;
    padding: 15px;
    text-decoration:none;
}
/*EVERYTHING ELSE*/



body {
    background-color: #000000;
    color: white;
    padding:20;
    text-align: justify;
    padding:0;
    margin: 0;
}

.outline{
    width:550px;
    background-color:#0D0E0B;
    border-radius: 20px;
    margin:0 auto;
    text-align:center;
    color:white;
    margin-top:20px;
    border:#0EDD27 4px solid;
    padding-bottom:1.5em;
}

.header{
    width:400px;
    height:60px;
    background-color:#2D283A;
    border-radius: 10;
    margin:0 auto;
    text-align:center;
    color:white;
    border:#0EDD27 4px solid;
    margin-bottom:1em;
}

p{
    font-size:20px;
}

.divs{
    margin-bottom:11em;
    width:500px;
    background-color:#2D283A;
    border-radius: 10px;
    margin:0 auto;
    text-align:center;
    color:white;
    margin-top:20px;
}
