/*Navbar*/
#nav {
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #222222;
    position: fixed;
    z-index:10;
    font-family:trebuchet ms;
    font-size:20px;
    margin-bottom:4%;
}
#nav-wrapper {
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position:relative;
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background-color: #333;
}
#nav ul li a, visited {
    color: #ccc;
    display:block;
    padding: 15px;
    text-decoration:none;
}
#nav ul li a: hover {
    color:#ccc;
    text-decoration:none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    /*This changes the list font size*/
    font-size:.8em;
    display:none;
    position: absolute;
    background-color: #333;
    min-width: 150px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a, visited {
    color: #ccc;
}
#nav ul ul li a:hover {
    color: #099;
}